body
{
    font-family: 'Century Gothic';
}
.btnstyle
{
    font-family: 'Century Gothic';
}
.style1
{
    font-family: 'Century Gothic';
}
.style2
{
    font-family: 'Century Gothic';
}
.style3
{
    font-family: 'Century Gothic';
}
